<!DOCTYPE html>
<html>
<head>
  <title>Forefront</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= turbo_include_tags %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "forefront/application", media: "all" %>
  <!-- Note: This gem uses Tailwind CSS classes. Make sure Tailwind CSS is configured in your host application. -->
</head>
<body>

<%= yield %>

</body>
</html>
